## This script should take a list of the existing titles from eTrack and compare it against the list of SEMDGroups titles, then return the unique values from SEMDGroups

In [55]:
import pandas as pd
import numpy as np
import re

dfGroups = pd.read_csv('../Lists/RawLists/SEMDGroups.csv')
dfTitles = pd.read_csv('../Lists/RawLists/titles_reconcilliation.csv')
# script Variables
# carriage return
CR = '\n'

In [35]:
dfGroups.head()

                               Group                           Person
0     Acting Deputy Regional Counsel                     Toney, Marcy
1  Administrative Record Coordinator  Quesada, Todd;Wheatley, Jessica
2                          CEPPS SEE                   Fiala, Zachary
3                   CEPPS Supervisor                       Hans, Mick
4                        Comptroller                      Meyer, Dale

In [36]:
dfTitles.head()

,Unnamed: 0,Gtitles,revGtitles,eTitles
0,0,Acting Deputy Regional Counsel,Deputy Regional Counsel,Administrative Officer
1,1,Administrative Record Coordinator,Administrative Coordinator,Administrator
2,2,CEPPS SEE,SEE,Author
3,3,CEPPS Supervisor,Section Supervisor,Branch APA
4,4,Comptroller,Comptroller,Branch Manager

In [56]:
uTitles = set(dfTitles['revGtitles'].unique())

In [57]:
eTitles = set(eTitles)

In [58]:
len(uTitles)

32

In [59]:
uSet = uTitles - eTitles

### Here is our set of titles unique to SEMD's doc routes

In [60]:
uSet

{'Administrative Coordinator',
 'Administrative Record Coordinator',
 'Administrative Staff',
 'Comptroller',
 'Controlled Correspondence Coordinator',
 'Deputy Regional Counsel',
 'Document Reviewers',
 'EI Coordinator',
 'Enforcement Coordinator',
 'FOIA Attorney',
 'FOIA Mailer',
 'Labor Relations Specialist',
 'Notaries',
 'ORC Associate Branch Manager',
 'ORC Hearing Clerk',
 'PAAS Lead Accountant',
 'PAAS Supervisor',
 'Records Officer',
 'Regional Congressional Liaison',
 'Regional Scientist',
 'SEE',
 'SPCC Coordinator',
 'Student Trainee',
 'Tribal Liasion'}

In [46]:
len(uSet)

23

## Save the dataFrames to csv files

In [33]:
dfTitles.to_csv('../Lists/RawLists/titles_reconcilliation.csv')